@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  margin: auto;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #131314;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-attachment: fixed;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chapter-square:hover {
  filter: grayscale(0) contrast(1) !important;
  transition: filter 0.3s ease-in-out;
}
.chapter-square:active {
  filter: grayscale(0) contrast(1) !important;
}

/* Piwik */
div.ppms_cm_popup_overlay, div.ppms_cm_popup_overlay:focus, div.ppms_cm_popup_overlay:hover {
  background-color: transparent !important;
}

#ppms_cm_footer {
  filter: invert(100) !important;
  opacity: 0.8 !important;
}

/* 
@media screen and (min-width:600px) {
  body {
    position: relative;
    background-color: red;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    max-width: 600px;
  }  
} */



/* BUTTON */
button:active { filter: blur(1px) !important }
canvas {
  /* Ink ripple color */
  color: auto;
}

/* MODAL */
.modal {
  transition: opacity 0.2s ease-in-out;
}

/* ***** */
/* FONTS */
/* ***** */

/* Averta Black Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/averta/averta-black-italic.woff2') format('woff2');
}

/* Averta Black WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 900;
  src: url('/fonts/averta/averta-black.woff2') format('woff2');
}

/* Averta Bold Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/averta/averta-bold-italic.woff2') format('woff2');
}

/* Averta Bold WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 700;
  src: url('/fonts/averta/averta-bold.woff2') format('woff2');
}

/* Averta Light Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/averta/averta-light-italic.woff2') format('woff2');
}

/* Averta Light WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 300;
  src: url('/fonts/averta/averta-light.woff2') format('woff2');
}

/* Averta Regular Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/averta/averta-regular-italic.woff2') format('woff2');
}

/* Averta Regular WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 400;
  src: url('/fonts/averta/averta-regular.woff2') format('woff2');
}

/* Averta Semibold Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/averta/averta-semibold-italic.woff2') format('woff2');
}

/* Averta Semibold WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 600;
  src: url('/fonts/averta/averta-semibold.woff2') format('woff2');
}

/* Averta Thin Italic WOFF2 */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/averta/averta-thin-italic.woff2') format('woff2');
}

/* Averta Thin WOFF2 */
@font-face {
  font-family: 'Averta';
  font-weight: 100;
  src: url('/fonts/averta/averta-thin.woff2') format('woff2');
}

/* Averta Black Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/averta/averta-black-italic.ttf') format('truetype');
}

/* Averta Black TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 900;
  src: url('/fonts/averta/averta-black.ttf') format('truetype');
}

/* Averta Bold Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/averta/averta-bold-italic.ttf') format('truetype');
}

/* Averta Bold TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 700;
  src: url('/fonts/averta/averta-bold.ttf') format('truetype');
}

/* Averta Light Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/averta/averta-light-italic.ttf') format('truetype');
}

/* Averta Light TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 300;
  src: url('/fonts/averta/averta-light.ttf') format('truetype');
}

/* Averta Regular Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/averta/averta-regular-italic.ttf') format('truetype');
}

/* Averta Regular TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 400;
  src: url('/fonts/averta/averta-regular.ttf') format('truetype');
}

/* Averta Semibold Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/averta/averta-semibold-italic.ttf') format('truetype');
}

/* Averta Semibold TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 600;
  src: url('/fonts/averta/averta-semibold.ttf') format('truetype');
}

/* Averta Thin Italic TTF */
@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/averta/averta-thin-italic.ttf') format('truetype');
}

/* Averta Thin TTF */
@font-face {
  font-family: 'Averta';
  font-weight: 100;
  src: url('/fonts/averta/averta-thin.ttf') format('truetype');
}